@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    width: auto;
}

body {
  margin: 0%;
  padding: 0%;
 
}
header{
  height: 100vh;
  background-image: url("img/Simple\ Photo\ Fashion\ Facebook\ Cover.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover ;
  margin-bottom: 20px;
}
.hamburger{
       position: relative;
       top: 5px;
}
.navbar-css{
  background-color:white ;
}
.nav-links a{
  color:black;
  margin-right: 20px;
  font-size: 1.3rem;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: all 300ms ease;

}
.nav-links a:hover{
  color:white;
  background-color: palevioletred;
  border-radius: 20px;
  padding: 5px;
}
.img-logo{
  width: 80px;
  height:80px ;
}
.one{
    text-align: center;
} 
.container h1,p{
    text-align: center;
    margin-top: 20px;
}
.text-contact{
    text-align: center;
}
.container{
    box-sizing: border-box;
}
.rounded{
    max-width: 100%;
}


